[Unit]
Description=Check Dental membership notification queue every minute

[Timer]
OnBootSec=60
OnUnitInactiveSec=60
AccuracySec=5

[Install]
WantedBy=timers.target
